* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.24);
}
.toolbar {
  padding: 20px;
}
.content .grid {
  padding: 20px;
}
.grid .row {
  display: flex;
}
.grid .row .col {
  flex: 1;
}
.col.search-col {
  border-right: 1px solid gray;
}

.search-form input,
.search-form button {
  margin: auto;
  display: block;
  margin-bottom: 40px;
}
.search-form input {
  font-size: 23px;
  width: 80%;
  border: none;
  background: #f2f2f2c6;
  padding: 10px;
}

.search-form {
  padding-top: 20px;
}
.search-form button {
  font-size: 23px;
  width: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.24);
  padding: 7px;
  background-color: #5db075;
  color: #fff;
}
.row .col .display-result {
  padding: 10px;
}

.row .col .item {
  display: flex;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  background-color: rgba(247, 249, 246, 0.845);
}
.item .left,
.item .right {
  flex: 1;
}

.display-result .item .right label {
  display: grid;
  grid-template-columns: auto;
}
.display-result .item .right .infected {
  color: rgb(201, 56, 56);
}
@media (max-width: 490px) {
  .content .grid .row {
    flex-direction: column;
  }
  .col.search-col {
    border-right: none;
  }

  .search-form input,
  .search-form button {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
}
