
  html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.background {
  background-image: linear-gradient(to bottom right, #9e9e9e, #e0e0e0);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  height: 90%;
  max-height: 530px;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container {
  overflow: scroll;
  height: 100%;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-color: blue;
  background-image: linear-gradient(to bottom right, #1e7ce5, #0140c3);
  margin: auto;
  border-radius: 15px;
  transform: skewY(5deg) translateY(-20px);
  overflow: hidden;
  z-index: 1;
}
.header > * {
  transform: skewY(-5deg) translateY(20px);
}
.header::before, .header::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0.2;
  z-index: 1;
}
.header::before {
  top: -30px;
  right: -40px;
  border-radius: 120px;
  height: 120px;
  width: 120px;
}
.header::after {
  top: 130px;
  left: 0px;
  border-radius: 90px;
  height: 90px;
  width: 90px;
}
.header i {
  display: block;
  z-index: 1;
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
.header i.star-1 {
  top: 30px;
  left: 20px;
}
.header i.star-2 {
  top: 50px;
  left: 100px;
}
.header i.star-3 {
  top: 60px;
  left: 200px;
}
.header i.star-4 {
  top: 70px;
  left: 260px;
}
.header i.star-5 {
  top: 80px;
  left: 50px;
}
.header i.star-6 {
  top: 20px;
  left: 230px;
}
.header .avatar {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.header .avatar svg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.header .title {
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-top: -10px;
  font-size: 20px;
  color: #fff;
}
.content {
  margin-top: 230px;
  padding: 25px;
}
.content .email, .content .password {
  position: relative;
}
.content .email svg, .content .password svg {
  position: absolute;
  left: 10px;
  height: 18px;
  width: 18px;
}
.content input, .details-two {
  display: block;
  height: 40px;
  width: calc(100% - 55px);
  margin-bottom: 10px;
  padding: 0 10px 0 40px;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  outline: none;
  border: 0;
  opacity: 0.6;
  border-bottom: 1px solid #e0e0e0;
}
.content .text {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
}
.content button {
  border: 0;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(to bottom right, #ffa322, #ffb753);
  color: #fff;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-image 0.4s ease-out transform 0.1s ease-out;
}
.content button:hover {
  background-image: linear-gradient(to bottom right, #ffb753, #ffa322);
}
.content button:active {
  transform: translateY(1px);
}
.content svg {
  width: 70px;
  height: 70px;
  margin: 10px auto;
  display: block;
}
.content svg path:first-child {
  fill: #424242;
}

























/*@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
:root {
  --colour-one: #ffd1b7;
  --colour-two: #fee4d4;
  --colour-three: #fdb493;
  --colour-four: #fb966f;
  --colour-five: #f45f34;
  --colour-six: #302825;
  --colour-seven: #a69f9c;
  --colour-eight: #707e8d;
}


* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: 'El Messiri', sans-serif;
}

body {
  background: var(--colour-one);
  overflow: hidden;
}

img {
  width: 32px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg,#f45f34, #ffd1b7, #fee4d4, #fdb493, #fb966f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
      }
    100% {
      background-position: 0% 50%;
      }
}

.box {
  position: relative;
  
  .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
  }
  
  @keyframes square {
    0%,100% {
      transform: translateY(-20px);
    }
    
    50% {
      transform: translateY(20px);
    }
  }
  
  .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
  }
  
  .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
  }
  
  .square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
  }
  
  .square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: -95px;
  }
  
  .square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
  }
  
  .square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
  }
}

.container {
  position: relative;
  padding: 50px;
  width: 260px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.container::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
  );
}

.form {
  position: relative;
  width: 100%;
  height: 100%;

   h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    
    input {
      width: 80%;
      outline: none;
      border: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.2);
      padding: 8px 10px;
      padding-left: 40px;
      border-radius: 15px;
      color: #fff;
      font-size: 16px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }
    
    .password-control {
      position: absolute;
      top: 11px;
      right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
      transition: 0.5s;
}
        
      .view {
         background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
        transition: 0.5s;
  }

    
  
    img {
      position: absolute;
      top: 6px;
      left: 8px;
      transform: scale(0.6);
      filter: invert(1);
    }
    
    input[type="submit"] {
      background: #fff;
      color: #111;
      max-width: 100px;
      padding: 8px 10px;
      box-shadow: none;
      letter-spacing: 1px;
      cursor: pointer;
      transition: 1.5s;
    }
    
    input[type="submit"]:hover {
      background: linear-gradient(115deg, 
        rgba(0,0,0,0.10), 
        rgba(255,255,255,0.25));
      color: #fff;
      transition: .5s;
    }
    
    input::placeholder {
      color: #fff;
    }
    
    span {
        position: absolute;
        left: 30px;
        padding: 10px;
        display: inline-block;
        color: #fff;
        transition: .5s;
        pointer-events: none;
      }
    
    input:focus ~ span,
    input:valid ~ span {
      transform: translateX(-30px) translateY(-25px);
      font-size: 12px;
    }
  }
  
  p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
  
    a {
      color: #fff;
    }
    
    a:hover {
      background-color: #000;
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.remember {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
*/